.venv/
__pycache__/
*.pyc
output/
logs/
.vscode/
.cursor/


user/
referans/
v2_dataset/
noise_app_first_draft/

docs/*

!docs/00_overview/
!docs/00_overview/**


v2_ml/data/
v2_ml/models/
v2_ml/presets/
v2_ml/render_test/
v2_ml/benchmarks

*.npy
*.wav
*.flac
*.mp3


.cursorrules
.cursorignore
